<!DOCTYPE html>
<html>
<head>
	<title>Контакты</title>
</head>
<body>
	<h3>Контакты</h3>
	<p>Пожалуйста введите Ваш адрес в поле ниже</p>

	<form action="/contacts" method="post" role='form'>
		<textarea name="contact[address]" class="form-control" rows="3"></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Отправить</button>
	</form>
</body>
</html>
